[submodule "contrib/qluacpp"]
	path = contrib/qluacpp
	url = https://github.com/elelel/qluacpp.git
[submodule "contrib/curl"]
	path = contrib/curl
	url = https://github.com/elelel/curl.git
       	branch = FixCMakePerlDependency
[submodule "contrib/Catch"]
	path = contrib/Catch
	url = https://github.com/philsquared/Catch.git

[submodule "contrib/readerwriterqueue"]
	path = contrib/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
