[submodule "basic/contrib/qluacpp"]
	path = basic/contrib/qluacpp
	url = https://github.com/elelel/qluacpp.git
[submodule "dividend_threat/contrib/qluacpp"]
	path = dividend_threat/contrib/qluacpp
	url = https://github.com/elelel/qluacpp.git
[submodule "dividend_threat/contrib/curl"]
	path = dividend_threat/contrib/curl
	url = https://github.com/elelel/curl.git
[submodule "dividend_threat/contrib/Catch"]
	path = dividend_threat/contrib/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "log_all_trades/contrib/qluacpp"]
	path = log_all_trades/contrib/qluacpp
	url = https://github.com/elelel/qluacpp.git
[submodule "log_all_trades/contrib/readerwriterqueue"]
	path = log_all_trades/contrib/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "save_orders/contrib/qluacpp"]
	path = save_orders/contrib/qluacpp
	url = https://github.com/elelel/qluacpp.git
[submodule "save_orders/contrib/json"]
	path = save_orders/contrib/json
	url = https://github.com/nlohmann/json.git
[submodule "save_orders/contrib/concurrentqueue"]
	path = save_orders/contrib/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
